<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiaco</title>
</head>
<body>

    <form class="max-w-sm mx-auto" [formGroup]="formulario" (ngSubmit)="calcularZodiaco()">
  <label class="block mb-2 text-sm font-medium text-gray-900">Datos personales</label>

  
  <div class="mb-5">
    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
    <input type="text" formControlName="nombre" id="nombre" placeholder="Nombre"
      class="bg-gray-50 border border-gray-300 rounded-lg w-full p-2.5" required />
  </div>

  
  <div class="mb-5">
    <label for="apellidoP" class="block mb-2 text-sm font-medium text-gray-900">Apellido Paterno</label>
    <input type="text" formControlName="apellidoP" id="apellidoP" placeholder="Apellido Paterno"
      class="bg-gray-50 border border-gray-300 rounded-lg w-full p-2.5" required />
  </div>

 
  <div class="mb-5">
    <label for="apellidoM" class="block mb-2 text-sm font-medium text-gray-900">Apellido Materno</label>
    <input type="text" formControlName="apellidoM" id="apellidoM" placeholder="Apellido Materno"
      class="bg-gray-50 border border-gray-300 rounded-lg w-full p-2.5" required />
  </div>

  
  <label class="block mb-2 text-sm font-medium text-gray-900">Fecha de nacimiento</label>
  <div class="flex gap-2 mb-5">
    <input type="number" formControlName="dia" placeholder="Día" min="1" max="31"
      class="bg-gray-50 border border-gray-300 rounded-lg w-1/3 p-2.5" required />
    <input type="number" formControlName="mes" placeholder="Mes" min="1" max="12"
      class="bg-gray-50 border border-gray-300 rounded-lg w-1/3 p-2.5" required />
    <input type="number" formControlName="anio" placeholder="Año" min="1900" max="2100"
      class="bg-gray-50 border border-gray-300 rounded-lg w-1/3 p-2.5" required />
  </div>

 
  <label class="block mb-2 text-sm font-medium text-gray-900">Sexo</label>
  <div class="flex gap-5 mb-5">
    <div>
      <input type="radio" formControlName="sexo" value="Masculino" id="masculino" />
      <label for="masculino">Masculino</label>
    </div>
    <div>
      <input type="radio" formControlName="sexo" value="Femenino" id="femenino" />
      <label for="femenino">Femenino</label>
    </div>
  </div>

  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 rounded-lg text-sm w-full sm:w-auto px-5 py-2.5">Imprimir</button>
</form>

<div  class="text-center mt-6 p-4 border rounded-lg shadow">
  <h2 class="text-lg font-semibold">Hola {{ nombreCompleto }}</h2>
  <p>Tienes {{ edad }} años</p>
  <p>Tu signo zodiacal chino es <strong>{{ signo }}</strong></p>
 
  <img [src]="imagenSigno" alt="{{ signo }}" class="mx-auto w-16 h-16 rounded-full mt-2">
</div>


    

    
</body>
</html>
